.button{
    position: absolute;
    width: 189px;
    height: 38px;
    left: 902px;
    top: 393px;

    background: #4A9DFF;
    border-radius: 10px;
    position: absolute;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.table{
    /* position: absolute; */
    width: 770px;
    height: 463px;
    left: 321px;
    top: 289px;

    background: #FFFFFF;
    /* ? */

    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
    border-radius: 10px;
}

.table tr{
    text-align: center;
    margin: 100;
}